.btn {
  display: inline-flex;
  // padding: size(10px) size(20px);
  padding: 0;

  color: $color-default-white;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 1;
  }
}
