.faq {
  padding: 120px 0;
  background-color: $color-background-grey;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

// .faq__container {}

.faq__inner-wrapper {
  display: flex;
  // flex-wrap: wrap;
  gap: 40px;

  @include vp-1365 {
    flex-direction: column;
    gap: 39px;
  }

  @include vp-767 {
    gap: 29px;
  }
}

.faq__menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;

  @include vp-1365 {
    flex-direction: row;
    justify-content: center;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.faq__main-title {
  margin-bottom: 51px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  @include vp-1365 {
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 37px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}

.faq__menu-button {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 48px 16px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $color-default-blue;
  background-color: $color-transparent;
  border: 1px solid rgba(16, 38, 84, 0.20);

  @include vp-1365 {
    width: 162px;
  }

  @include vp-767 {
    width: 141px;
    padding: 14px 48px 12px;
    font-size: 16px;
    line-height: 16px;
  }

  @include hover-focus {
    border: 1px solid $color-default-blue;
  }

  @include active {
    color: $color-default-white;
    background: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
    border-image: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
    border-image-slice: 1;
  }

  &:disabled {
    color: #c8c9cc;
    border: 1px solid rgba(16, 38, 84, 0.20);
  }
}

.faq__menu-button.is-active {
  color: $color-default-white;
  background: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
  border-image: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
  border-image-slice: 1;
}

.faq__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @include vp-1365 {
    margin-bottom: 11px;
    font-size: 22px;
    line-height: 22px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 20px;
  }
}

.faq__description {
  max-width: 660px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;

  @include vp-1365 {
    max-width: 560px;
  }

  @include vp-767 {
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 20px;
  }
}

.faq__tabs-element {
  flex-grow: 1;
}

.faq__item-wrapper {
  display: none;
}

.faq__items {
  // flex-grow: 1;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 51, 116, 0.20);
  }
}

.faq__item-wrapper.is-active {
  display: block;
}

.faq__item-inner-wrapper {
  position: relative;
  padding: 34px 50px 21px 0;

  // &::after {
  //   position: absolute;
  //     content: "";
  //     width: 40px;
  //     height: 40px;
  //     right: 0;
  //     top: 25px;
  //     background-image: url("../img/svg/faq-plus.svg");
  //     background-repeat: no-repeat;
  //     background-position: center;
  // }

  // &.is-active::after {
  //       background-image: url("../img/svg/faq-minus.svg");
  // }
}

// .faq__item .faq__item-inner-wrapper::after {
//   position: absolute;
//   content: "";
//   width: 40px;
//   height: 40px;
//   right: 0;
//   top: 25px;
//   background-image: url("../img/svg/faq-plus.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .faq__item.is-active .faq__item-inner-wrapper::after {
//   background-image: url("../img/svg/faq-minus.svg");
// }



.faq__item {
  position: relative;
  // padding: 34px 50px 21px 0;
  padding: 35px 0px 22px 0;
  cursor: pointer;

  &.is-active {
    .faq__decorative-button--open {
      display: block;
    }

    .faq__decorative-button:not(.faq__decorative-button--open) {
      display: none;
    }
  }

  @include vp-1365 {
    // padding: 35px 122px 22px 0;
  }

  @include vp-767 {
    padding: 23px 15px 1px 0;
  }

  .faq__decorative-button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 6px;
    border: 1px solid $color-default-blue;
    border-radius: 50%;
    stroke: $color-default-blue;
    background-color: $color-transparent;
    cursor: pointer;

    &--open {
      display: none;
      background-color: $color-default-blue;
    }

    @include hover-focus {
      stroke: $color-default-white;
      background-color: $color-default-blue;
    }

    &--disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   height: 1px;
  //   width: 100%;
  //   bottom: 0;
  //   left: 0;
  //   background-color: rgba(28, 51, 116, 0.20);

  // //   @include vp-1365 {}

  // //   @include vp-767 {}
  // }

  // &::after {
  //   position: absolute;
  //   content: "";
  //   width: 40px;
  //   height: 40px;
  //   right: 0;
  //   top: 25px;
  //   background-image: url("../img/svg/faq-plus.svg");
  //   background-repeat: no-repeat;
  //   background-position: center;

  //   @include vp-1365 {}

  //   @include vp-767 {
  //     width: 30px;
  //     height: 30px;
  //     top: 27px;
  //     background-image: url("../img/svg/faq-plus-mobile.svg");
  //   }
  // }

  // &--active {
  //   &::after {
  //     position: absolute;
  //     content: "";
  //     width: 40px;
  //     height: 40px;
  //     right: 0;
  //     top: 25px;
  //     background-image: url("../img/svg/faq-minus.svg");
  //     background-repeat: no-repeat;
  //     background-position: center;

  //     @include vp-1365 {
  //       top: 26px;
  //     }

  //     @include vp-767 {
  //       top: 28px;
  //       width: 30px;
  //       height: 30px;
  //       background-image: url("../img/svg/faq-minus-mobile.svg");
  //     }
  //   }
  // }

//   &--fit {
//     padding-bottom: 23px;

//     @include vp-1365 {
//       padding-bottom: 25px;
//     }

//     @include vp-767 {
//       padding-bottom: 1px;
//     }
//   }

//   &--towels {
//     padding-top: 33px;

//     @include vp-1365 {
//       padding-top: 35px;
//     }

//     @include vp-767 {
//       padding-top: 21px;
//     }

//     &::after {
//       @include vp-767 {
//         top: 36px;
//       }
//     }
//   }

//   &--qual {
//     padding-top: 32px;
//     padding-bottom: 22px;

//     @include vp-1365 {
//       padding-top: 25px;
//       padding-bottom: 14px;
//     }

//     @include vp-767 {
//       padding-top: 22px;
//       padding-bottom: 1px;
//     }

//     &::after {
//       @include vp-1365 {
//         top: 27px;
//       }

//       @include vp-767 {
//         top: 37px;
//       }
//     }
  // }
}
