.feedback {
  padding: 120px 0;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.feedback__main-title {
  margin-bottom: 46px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  text-align: center;

  @include vp-1365 {
    margin-bottom: 42px;
    padding-right: 1px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 46px;
    padding-right: 2px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}

.feedback__slider-wrapper {
  width: fit-content;
  position: relative;
  margin: 0 auto;

  @include vp-1365 {}

  @include vp-767 {}
}

.feedback__list {
  display: flex;
  justify-content: center;

  @include vp-1365 {}

  @include vp-767 {}
}

.feedback__item {

  &--non-active {
    display: none;
  }

  @include vp-1365 {}

  @include vp-767 {}
}

.feedback__button {
  position: absolute;
  top: calc(40% - 1px);

  @include vp-1365 {}

  @include vp-767 {
    top: calc(43% + 3px);
  }

  &--prev {
    left: -77px;

    @include vp-1365 {
      left: -70px;
    }

    @include vp-767 {
      left: -50px;
    }
  }

  &--next {
    right: -77px;

    @include vp-1365 {
      right: -70px;
    }

    @include vp-767 {
      right: -50px;
    }
  }
}

.feedback__svg-arrow {
  width: 16px;
  height: 32px;

  @include vp-1365 {}

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
