.feedback-card {
  width: 560px;
  display: flex;
  gap: 30px;
  padding: 60px;
  color: $color-default-white;
  background-color: $color-darken-blue;
  box-shadow: 0px 0px 40px 0px $resolution-blue;

  @include vp-1365 {
    width: 580px;
    padding: 60px 65px;
  }

  @include vp-767 {
    width: 226px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 25px 30px;
  }
}

.feedback-card__image {
  max-width: 80px;

  @include vp-767 {
    max-width: 68px;
  }
}

.feedback-card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include vp-1365 {
    gap: 13px;
  }

  @include vp-767 {
    gap: 16px;
  }
}

.feedback-card__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}

.feedback-card__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include vp-767 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
}
