.footer {
  padding: 40px 0;
  color: $color-default-white;
  background-color: $color-dark-black;

  @include vp-1365 {
    padding: 46px 0;
  }

  @include vp-767 {
    padding-top: 29px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-left: 104px;

  @include vp-1365 {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

}

.footer__logo {
  @include vp-1365 {
    width: 98px;
  }

  @include vp-767 {
    width: 89px;
    margin-bottom: 30px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 41px;
  margin-left: -12px;

  @include vp-1365 {
    gap: 30px;
    margin-left: -3px;
  }

  @include vp-767 {
    column-gap: 36px;
    row-gap: 18px;
    margin-left: 0;
    margin-bottom: 53px;
  }
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: inherit;
  border: 1px solid $color-transparent;

  @include hover {
    border-bottom: 1px solid $color-default-white;
  }

  @include focus {
    border-bottom: 1px solid $color-transparent;
    outline: 1px solid $color-default-white;
    outline-offset: 5px;
  }

  @include active {

  }

  @include vp-1365 {}

  @include vp-767 {}
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  @include vp-1365 {}

  @include vp-767 {
    align-self: center;
  }
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__svg {
  & .path-background {
    fill: $color-default-white;
  }

& .path-picture {
    fill: $color-dark-black;
  }

  @include hover-focus {
    & .path-background {
      fill: $color-light-blue;
    }

    & .path-picture {
      fill: $color-default-white;
    }
  }

  @include active {
    & .path-background {
      fill: $color-default-blue;
    }

    & .path-picture {
      fill: $color-default-white;
    }
  }
}



  // &:hover {
  //   & .path-background {
  //     fill: $color-default-white;
  //   }

  //   & .path-picture {
  //     fill: red;
  //   }
  // }


.footer__social-link {
  &--disabled {
    pointer-events: none;
    .footer__svg .path-background {
      fill: rgba($color-default-white, 0.3);
    }

    .footer__svg .path-picture {
      fill: $color-dark-black;
    }
  }
}
@include vp-1365 {}

@include vp-767 {}
