.footer {
  padding: 40px 0 34px;
  color: $color-default-white;
  background-color: $color-dark-black;

  @include vp-1365 {
    padding: 44px 0 39px;
  }

  @include vp-767 {
    padding-top: 28px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-left: 104px;

  @include vp-1365 {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-left: 14px;
    padding-right: 15px;
  }
}

.footer__logo {
  margin-bottom: 7px;

  @include vp-1365 {
    width: 98px;
    margin-bottom: 5px;

  }

  @include vp-767 {
    width: 88px;
    margin-bottom: 29px;
    margin-left: 2px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 39px;
  margin-right: 13px;
  padding-bottom: 4px;

  @include vp-1365 {
    gap: 28px;
    margin-left: 9px;
  }

  @include vp-767 {
    column-gap: 34px;
    row-gap: 16px;
    margin-left: 0;
    margin-bottom: 48px;
  }
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: inherit;
  border: 1px solid $color-transparent;

  @include hover {
    border-bottom: 1px solid $color-default-white;
  }

  @include focus {
    border-bottom: 1px solid $color-transparent;
    outline: 1px solid $color-default-white;
    outline-offset: 5px;
  }
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  @include vp-767 {
    align-self: center;
    margin-left: 2px;
  }
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__svg {
  & .path-background {
    fill: $color-default-white;
  }

& .path-picture {
    fill: $color-dark-black;
  }

  @include hover-focus {
    & .path-background {
      fill: $color-light-blue;
    }

    & .path-picture {
      fill: $color-default-white;
    }
  }

  @include active {
    & .path-background {
      fill: $color-default-blue;
    }

    & .path-picture {
      fill: $color-default-white;
    }
  }
}

.footer__social-link {
  &--disabled {
    pointer-events: none;
    .footer__svg .path-background {
      fill: rgba($color-default-white, 0.3);
    }

    .footer__svg .path-picture {
      fill: $color-dark-black;
    }
  }
}
