.gym {
  padding: 120px 0;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 71px 0;
  }
}

.gym__container {
  display: flex;
  flex-wrap: wrap;
  gap: 145px;

  @include vp-1365 {
    flex-direction: column;
    gap: 39px;
    align-items: center;
  }

  @include vp-767 {}
}

.gym__text-wrapper {
  max-width: 355px;

  @include vp-1365 {
    min-width: 502px;
    text-align: center;
  }

  @include vp-767 {
    min-width: 279px;
  }
}

.gym__title {
  margin-bottom: 34px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 1.62px;

  @include vp-1365 {
    margin-bottom: 19px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    text-align: start;
  }
}

.gym__main-description {
  margin-bottom: 95px;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -1.11px;

  @include vp-1365 {
    padding-right: 8px;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1px;
  }

  @include vp-767 {
    margin-bottom: 37px;
    padding-right: 0;
    font-size: 18px;
    line-height: 20px;
    text-align: start;
  }
}

.gym__additive-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -1.1px;

  &:not(:last-child) {
    margin-bottom: 8px;

    @include vp-1365 {
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      text-align: start;
      letter-spacing: -1px;
    }
  }

  &--no-mobile {
    letter-spacing: -1px;

    @include vp-1365 {
      display: none;
    }

    @include vp-767 {}
  }

  @include vp-1365 {}

  @include vp-767 {}
}

.gym__media-wrapper {
  position: relative;

  @include vp-1365 {}

  @include vp-767 {}
}

.gym__video-wrapper {
  position: absolute;
  bottom: -115px;
  left: -63px;

  @include vp-1365 {
    bottom: -83px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-767 {}
}

.gym__video {
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {}
}

.gym__button {

  position: absolute;
  top: 24%;
  left: 31%;

  @include vp-1365 {
    top: 22%;
    left: 29%;
  }

  @include vp-767 {}
}

.gym__svg-button {
  width: 100px;
  height: 100px;

  @include vp-1365 {
    width: 72px;
    height: 72px;
  }

  @include vp-767 {}
}
