.header {
  padding: size(30px) 0;
  background: linear-gradient(to right, #003EB7, #ED0233);

  @include vp-1365 {
    padding-top: 29px;
  }

  @include vp-767 {
    padding: 12px 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: size(120px);
  height: size(26px);
  margin-right: size(10px);

  @include vp-1365 {
    width: 111px;
  }

  @include vp-767 {
    width: 102px;
  }
}

.header__tel {
  color: $color-default-white;
  font-size: size(26px);
  font-weight: 700;
  line-height: size(26px);
  letter-spacing: size(-0.7px);

  @include vp-1365 {
    font-size: 24px;
  }

  @include vp-767 {
    font-size: 22px;
  }
}
