.hero {
  padding-bottom: size(120px);
  background: linear-gradient(to right, #003EB7, #ED0233);
  color: $color-default-white;

  @include vp-1365 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.hero__container {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;

  @include vp-1365 {
    gap: 15px;
    justify-content: space-between;
  }

  @include vp-767 {
    gap: 0;
  }
}

.hero__left-text-wrapper {
  display: grid;
  grid-template-columns: 113px 270px;
  column-gap: 18px;

  @include vp-1365 {
    grid-template-columns: 113px 185px;
    column-gap: 26px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.hero__left-text {
  margin-top: 90px;
  align-self: center;
  text-align: right;
  font-size: 14px;
  line-height: 22px;

  @include vp-1365 {
    margin-top: 73px;
  }

  @include vp-767 {
    margin-top: auto;
    margin-bottom: 2px;
    line-height: 20px;
  }
}

.hero__right-text {
  padding-top: 63px;
  padding-right: 16px;
  text-align: right;
  text-transform: uppercase;

  @include vp-1365 {
    padding-top: 31px;
    padding-right: 0;
  }

  @include vp-767 {
    padding-top: 40px;
  }
}

.hero__inner-text {
  &--city {
    margin-bottom: 10px;
    font-family: "Alumni Sans", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      margin-bottom: 14px;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
    }
  }

  &--gym {
    font-family: "Alumni Sans", sans-serif;
    font-size: 92px;
    font-weight: 800;
    line-height: 110px;
    letter-spacing: 4.6px;

    @include vp-1365 {
      font-size: 72px;
      line-height: 85px;
      letter-spacing: 0;
    }

    @include vp-767 {
      font-size: 62px;
      line-height: 70px;
      letter-spacing: 1.86px;
    }
  }
}

.hero__button {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  margin-left: 8px;
  padding: 25px 55px;
  justify-self: center;
  align-self: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
  border: 2px solid $color-default-white;

  @include vp-1365 {
    width: 100%;
    margin-top: -47px;
    margin-left: 0;
    padding: 20px 32px 19px 31px;
    font-weight: 400;
    line-height: 14px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 44px;
    grid-column: 1 / -1;
    padding: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
  }
}

.index-list__img {
  @include vp-767 {
    display: none;
  }
}
