.months {
  position: relative;
  padding-top: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  line-height: 20px;

  @include vp-1365 {
    padding-top: 37px;
    gap: 55px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    padding-top: 23px;
    column-gap: 46px;
    font-size: 16px;
    line-height: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -13px;
    left: 0;
    right: 0;
    background-color: $color-soft-grey;

    @include vp-767 {
      bottom: -17px;
    }
  }
}

.months__item {
  position: relative;
  color: $color-soft-blue;

  @include vp-1365 {
  }

  @include vp-767 {
  }

  &--active {
    color: $color-default-blue;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: -13px;
      left: 0;
      right: 0;
      background-color: $color-torch-red;

      @include vp-1365 {
        bottom: -14px;
      }

      @include vp-767 {
        bottom: -17px;
      }
    }
  }
}
