.slider {
  max-width: 1160px;

  position: relative;
  padding-top: 45px;

  @include vp-1365 {
    max-width: 568px;
    padding-top: 40px;
  }

  @include vp-767 {
    max-width: 226px;
    padding-top: 41px;
  }
}

.slider__list {
  // text-align: center;
  // width: fit-content;

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 40px;

  @include vp-1365 {
    // gap: 32px;
  }

  @include vp-767 {
    // gap: 0;
  }
}

.slider__item {
  position: relative;
  justify-content: center;
  display: flex;

  @include hover-focus {
    & .slider-additional-info {
      display: block;
    }
  }

  @include vp-1365 {}

  @include vp-767 {}
}

.slider__text {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  line-height: 22px;
  color: $color-default-white;
  white-space: nowrap;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.slider__svg-arrow {
  stroke: $color-default-blue;
  width: 16px;
  height: 32px;

  @include vp-1365 {}

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.slider__button {
  width: 56px;
  height: 56px;
  top: calc(52% - 1px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-transparent;
  border: 1px solid $color-transparent;
  border-radius: 50%;

  @include hover-focus {
    border: 1px solid $color-default-blue;
  }

  @include active {
    background-color: $color-default-blue;

    & .slider__svg-arrow {
      stroke: $color-default-white;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1365 {
    top: calc(51% + 1px);
  }

  @include vp-767 {
    op: calc(53% + 1px);
  }

  &--prev {
    left: -57px;

    @include vp-1365 {
      left: -56px;
    }

    @include vp-767 {
      left: -30px;
    }
  }

  &--next {
    right: -57px;

    @include vp-1365 {
      right: -56px;
    }

    @include vp-767 {
      right: -30px;
    }
  }
}
