.slider {
  max-width: 1160px;

  position: relative;
  padding-top: 45px;

  @include vp-1365 {
    max-width: 568px;
    padding-top: 40px;
  }

  @include vp-767 {
    max-width: 226px;
    padding-top: 41px;
  }
}

.slider__item {
  position: relative;
  justify-content: center;
  display: flex;

  @include hover-focus {
    & .slider-additional-info {
      display: block;
    }

    & .slider__text {
      display: none;
    }
  }
}

.slider__text {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  line-height: 22px;
  color: $color-default-white;
  white-space: nowrap;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}
